Repository barcharcraz/llvm-project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-2.yml

azure-pipelines-1.yml:
  jobs:
  - job: MSVC_Tests
    variables:
    - name: UNIX_BIN_DIR
      value: $(System.ArtifactsDirectory)\unix\cygwin64\bin
    - name: ASAN_SYMBOLIZER_PATH
      value: $(System.ArtifactsDirectory)\llvm_asan_Release_x86_bin\bin\llvm-symbolizer.exe
    - name: ASAN_RT_SRC_ROOT
  ...

azure-pipelines-2.yml:
  jobs:
  - job: Regress
    timeoutInMinutes: 420
    pool:
      name: msvc-asan
      demands: IsFast
    strategy:
      matrix:
        win32_MT_ASAN:
          CRT_FLAG: /MT
          LINK_LIBS: /wholearchive:%ASAN_RT_LIB_DIR%\clang_rt.asan-i386.lib /wholearchive:%ASAN_RT_LIB_DIR%\clang_rt.asan_cxx-i386.lib
  ...

Update azure-pipelines-2.yml for Azure Pipelines
  azure-pipelines-2.yml
Due: none

llvm latest (12/23/2019) whitespace changes pre merge
  compiler-rt/lib/asan/asan_malloc_win.cpp
Due: azure-pipelines-1.yml, azure-pipelines-2.yml

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

Merged PR 204085: Swap from d2ASAN to /fsanitize=address
  llvm/utils/lit/lit/msvc_main.py
Due: none

fixing last few stupid test runner and test bugs for dynamic win
  compiler-rt/test/asan/TestCases/Windows/heapalloc_dll_double_free.cpp
  compiler-rt/test/asan/TestCases/Windows/heapalloc_dll_unload_realloc_uaf.cpp
  llvm/utils/lit/lit/msvc_main.py
Due: azure-pipelines-1.yml, azure-pipelines-2.yml

update reglog process
  nonship-RegLogProcess.py
Due: azure-pipelines-2.yml

updating regress log processor to export more readable excel sheet
  nonship-RegLogProcess.py
Due: azure-pipelines-2.yml

remove row bug
  nonship-RegLogProcess.py
Due: azure-pipelines-2.yml

remove column incrementing
  nonship-RegLogProcess.py
Due: azure-pipelines-2.yml

huge refactor of debug runtime enabling, fixing up the orbject lib generation to be done programatically
  compiler-rt/CMakeLists.txt
  compiler-rt/cmake/Modules/AddCompilerRT.cmake
  compiler-rt/lib/asan/CMakeLists.txt
  compiler-rt/lib/asan/asan_win.cpp
  compiler-rt/lib/interception/CMakeLists.txt
  compiler-rt/lib/lsan/CMakeLists.txt
  compiler-rt/lib/sanitizer_common/CMakeLists.txt
  compiler-rt/lib/ubsan/CMakeLists.txt
  llvm/cmake/modules/ChooseMSVCCRT.cmake
Due: azure-pipelines-1.yml, azure-pipelines-2.yml

clean up config cmake
  compiler-rt/cmake/config-ix.cmake
  llvm/cmake/config-ix.cmake
Due: azure-pipelines-1.yml, azure-pipelines-2.yml

fixing exception for coverage tests
  llvm/utils/lit/lit/msvc_main.py
Due: none

Merged PR 211039: llvm symbolizer build cmake fix
  llvm/cmake/config-ix.cmake
  llvm/lib/DebugInfo/PDB/CMakeLists.txt
Due: azure-pipelines-1.yml, azure-pipelines-2.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Revert "huge refactor of debug runtime enabling, fixing up the orbject lib generation to be done programatically"
  compiler-rt/CMakeLists.txt
  compiler-rt/cmake/Modules/AddCompilerRT.cmake
  compiler-rt/lib/asan/CMakeLists.txt
  compiler-rt/lib/asan/asan_win.cpp
  compiler-rt/lib/interception/CMakeLists.txt
  compiler-rt/lib/lsan/CMakeLists.txt
  compiler-rt/lib/sanitizer_common/CMakeLists.txt
  compiler-rt/lib/ubsan/CMakeLists.txt
  llvm/cmake/modules/ChooseMSVCCRT.cmake
Due: azure-pipelines-1.yml, azure-pipelines-2.yml

Path conditions:
  azure-pipelines-1.yml: any file but: azure-pipelines.yml, azure-pipelines-1.yml, azure-pipelines-2.yml, azure-pipelines-3.yml, llvm/utils/lit/lit/msvc_main.py, nonship-RegLogProcess.py
  azure-pipelines-2.yml: any file but: azure-pipelines.yml, azure-pipelines-1.yml, azure-pipelines-2.yml, azure-pipelines-3.yml, llvm/utils/lit/lit/msvc_main.py
